[Unit]
Description=Run agent script

[Service]
Type=simple
Environment=HOSTNAME=hostname
Environment=AUTH_TOKEN=auth_token
ExecStart=/usr/bin/python3 /opt/dashboard/agent.py
